

/* --------------------------------
    Main CSS File
    Used for all html pages (Home/Index, About, Projects, Contact)
----------------------------------- */

/*----- General Styles -----*/
body {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background: linear-gradient(135deg, lightblue, white);
    color: #333;
}

h1,h2,h3{
    text-align: center;
}


    /*-- Header / footer --*/

header {
    text-align: center;
    background-color: lightblue;
    color: white;
    padding: 15px 0;
}

.logo {
    font-weight: bold;
    margin-bottom: 10px;
}

/* Navigation */
.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;

}

.nav li {
    float: left;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color:white;
    font-weight: bold;
    ;
}

.nav a:hover {
    text-decoration: underline;
}

/* Clearfix*/
.clearfix::after {
    content: "";
    display : table;
    clear: both;
}

/* Sections */
section{
    padding: 20px;

}

/* About Page */
#about img{
    display: block;
    margin: 0 auto 15px;
    border-radius: 8px;
}

#about video {
    display: block;
    margin: 0 auto 15px;
    border: 2px solid lightblue;
    border-radius: 8px;
}

/* Project Page */
.project-list {
    text-align: center;
}

.project-item {
    width: 360px;
    background-color:orangered;
    float: left;
    margin: 10px;
    color: white;
    padding: 10px;
    border-radius: 8px;
}

/* Contact Page */
form{
    width: 90%;
    max-width: 400px;
    margin:0 auto;
    background-color: #f9f9f9;
    border: 2px solid lightblue;
    padding: 15px;
    border-radius: 8px;

}
label{
    font-weight: bold;
}

input, textarea{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;

}

button {
    background-color: lightblue;
    color: white;
    padding: 10 px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* footer */
#customfooter{
    text-align: center;
    background-color: lightblue;
    color: black;
    padding: 10px;
    clear: both;

}